@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --neo-blue: #6699ff;
  --white: #fff;
  --black: #000;
  --deep-orange: #ff9933;
  --red: #E60000;
  --pink: #E400A3;
  --blue: #514CC6;
  --green: #81E364;
  --yellow: #DEF604;
}

body{
  font-family: 'Inter', sans-serif;
}

.custom-background{
  background-image: url('/hero-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}